<form class="example-form" #tag="ngForm" >
     
      <mat-form-field>
            <mat-label> Parent Name:</mat-label>
           <input matInput class = "form-control" placeholder = "username"  [(ngModel)]= "newuserData.name" name = "name"> 	   
      </mat-form-field>
      <span *ngIf="isNameEmpty"><small style="color:red">Name is required</small></span>
      <br>
      <mat-form-field>
          <mat-label>Contact Number:</mat-label>
        
                <input type="tel" maxLength="10" min="-999" max="9999999999"
                placeholder="123-4567-8901"
                matInput
                class = "form-control"  [(ngModel)]= "newuserData.contact" name = "contact"> 

      </mat-form-field>
      <span *ngIf="isContactEmpty"><small style="color:red">Conatct is required</small></span>
      <br>
      <mat-form-field>
        <mat-label>User ID:</mat-label>
				    <input matInput class = "form-control"  placeholder = "username" [(ngModel)]= "newuserData.username" name = "username">
      </mat-form-field>
      <span  *ngIf="isUserNameEmpty"><small style="color:red">UserID is required</small></span>
       <br>
       <mat-form-field >
        <mat-label>Password:</mat-label>
                   <input matInput class = "form-control" placeholder = "password"  [(ngModel)]= "newuserData.password"
                   [type]="hide ?  'text':'password' "
                   name = "password">    
                   <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon> <img src="assets/icons/visibility.png" width="22px" height="22px"/>
                               </mat-icon>
                  </button>
      </mat-form-field>
      <span  *ngIf="isPasswordEmpty"><small style="color:red">Password is required</small></span>
        <br>
      <mat-form-field>        
          <mat-label>Groups</mat-label>
				<select matNativeControl 
				[(ngModel)]="newuserData.group"  name = "group">
				 <option *ngFor="let group of groupArray"
              [value]=group>
              {{group}}
              </option>
        </select>
        </mat-form-field>
        <span *ngIf="isGroupEmpty"><small style="color:red">Group is required</small></span>
        <br>
        <button mat-raised-button  style="margin-left: 20px; "type="submit" (click)="userCreated()" >Update</button>
  </form>
  <span class="nav-spacer"></span>
  <div id="snackbar1">User Created Successfully</div>
  <div id="snackbar2">User ID should be unique</div>