table {
    width: 100%;
}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
.mat-table {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
    margin-bottom: 20px;
}

.mat-sort-header-sorted {
  color: black;
}
html,
button
{

position: absolute;
bottom: 10%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-color:rgba(204, 204, 204, 0.979)
}

.my-custom-class .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: darkgreen;
  }


  [data-md-tooltip] {
    position: relative;
   }
   [data-md-tooltip]:before {
      content: attr(data-md-tooltip);
      position: absolute;
      bottom: -35px;
     left: 50%;
      padding: 8px;
      transform: translateX(-40%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #616161e6;
      color: white;
      border-radius: 2px;
      font-size: 12px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
   }
   [data-md-tooltip]:hover:before {
    transform: translateX(-40%) scale(1);
   }