<div>

    <div class="nav-brand">
        <form class="hidden-sm" #tag="ngForm" 
        style="margin-left: 20px; margin-top: 5px">
            <mat-form-field>
                <input App matInput [placeholder]="'Search' | translate"
                type="text"  name="searchText" ngModel>
            </mat-form-field>
           
            <ng-container> 
                   <a [routerLink]="">
                    <mat-icon  color="primary"  aria-hidden="false"
                     aria-label="Example search" 
                     (click)="onSearch(tag.value.searchText)" >
                    <img src="assets/icons/search.png" width="25px" height="25px"> 
                    </mat-icon>
                    </a>
            </ng-container>
        </form>
        <span class="nav-spacer"></span>
    </div>
    <div  *ngIf="count > 0"fxFlex class="example-button-row">     
            <div>
                <button mat-button color="primary" (click)="saveIn()">Send Message</button>
            </div>
            <div>
                <p></p>
                <button style="margin-left:40%; padding-left:3%;padding-right:3%" 
               [(ngModel)]="bool"
                mat-button color="primary" (click)="deleteUsers()">Delete</button>
            </div>
    </div>
</div>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
<div fxFlex>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
       
        <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef > . </th>
                <td mat-cell *matCellDef="let element">
                        <mat-checkbox  color="primary" 
                        (click)="onCheck(element.id)"
                        ng-model="isChecked">  
                        </mat-checkbox>  
                   
                         
                </td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} 
            </td>
        </ng-container>
        
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef > View </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLinkActive]="'active'" [routerLink]="">
                    <mat-icon mat-raised-button color="primary"  aria-hidden="true" aria-label="Example open icon" (click)="onView(element.id)" >
                            <img src="assets/icons/open_in_new.png" width="25px" height="25px"/>    
                    </mat-icon>  
                </a> 
            </td>
    </ng-container>
<ng-container matColumnDef="parentname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Name </th>
            <td mat-cell *matCellDef="let element"> {{element.parentname}} </td>
        </ng-container>
        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>
        <ng-container matColumnDef="userid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID's </th>
                <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
            </ng-container>
        <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
            <td mat-cell *matCellDef="let element"> {{element.group}} </td>
        </ng-container>
        
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef > Delete </th>
            <td mat-cell *matCellDef="let element">
                    <a [routerLinkActive]="'active'" [routerLink]="">         
                        <mat-icon mat-raised-button color="primary" aria-hidden="true" (click)="deleteUser(element.id)">
                                <img src="assets/icons/delete.png" width="25px" height="25px"/>    
                        </mat-icon>  
                    </a> 

                </td>
        </ng-container>

        <ng-container matColumnDef="resendSms">
            <th mat-header-cell *matHeaderCellDef > Resend login details </th>
            <td mat-cell *matCellDef="let element">
                <a  [routerLinkActive]="'active'" [routerLink]="">
                     <mat-icon mat-raised-button color="primary"
                     (click)="onSend(element.id)">
                     <i class="material-icons" style="margin-left:50px; padding:-50px;"data-md-tooltip="        Resend SMS">
                            <img src="assets/icons/repeat_.png" width="25px" height="25px"/>
                    </i>
                    </mat-icon> 
                     
                </a> 
               
            </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
</div>

<div fxFlex style= "float:right; width: 10% ; height:00">
    <button mat-fab color= "white">
        <a [routerLinkActive]="'active'" [routerLink]="['/adduser']">
            <mat-icon color="green">
                    <img src="assets/icons/add.png" width="25px" height="25px"/>    
            </mat-icon>
        </a>
    </button>
</div>  

