<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h2 class="app-name">School Application</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="User Name"
                         [(ngModel)]="loginUserData.username" name="username">
                    </mat-form-field>
                    <span *ngIf="isUserNameEmpty"><small style="color:red">UserName is required</small></span>
                </div>
               
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password"
                        placeholder="Password" [(ngModel)]="loginUserData.password" name="password">
                    </mat-form-field>
                    <span *ngIf="isPasswordEmpty"><small style="color:red">Password is required</small></span>
                </div>
            </div>
         <!--   <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div>-->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
<div id="snackbar">Invalid UserName or Password</div>