

  <form class="example-form" style="margin-left: 20px; ">
     
      <mat-form-field>
            <mat-label> Parent Name:</mat-label>
           <input matInput value={{userDetail.name}}  [(ngModel)]= "userDetail.name"  name="userDetail.name">
		   
      </mat-form-field>
     
      <br>
	  
      <mat-form-field>
          <mat-label>Contact Number:</mat-label>
          <input type="tel" maxLength="10" min="-999" max="9999999999"
          placeholder="123-4567-8901"
          required matInput
           value={{userDetail.contact}}    [(ngModel)]= "userDetail.contact"  name="userDetail.contact">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>User ID:</mat-label>
        <input matInput value={{userDetail.username}} readonly >
      </mat-form-field>
       <br>
       <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput value={{userDetail.password}}  [(ngModel)]= "userDetail.password"  name="userDetail.password"  [type]="hide ?  'text':'password' ">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon> <img src="assets/icons/visibility.png" width="22px" height="22px"/>
           </mat-icon>
          </button>
      </mat-form-field>
        <br>
        <mat-form-field>
           <mat-label>Groups</mat-label>
			<select matNativeControl required
				[(ngModel)]="userDetail.group"  name = "group">
				 <option *ngFor="let gp of groupArray" value={{gp}}>
              {{gp}} 
              </option>
        </select>
	<!--	  <input matInput value={{group}} >-->
        </mat-form-field>
       <br>
       <br>
       <br>
       <div class="example-button-row" style="padding-left: 5%;padding-right: 10%;">
        <a mat-stroked-button color="primary" routerLink="."  (click)="update()">Update</a>
       </div>
  </form>
  <span class="nav-spacer"></span>
 
 <div id="snackbar1">user updated successfully</div>
 <div id="snackbar2">Oops,something went wrong</div>


