<form class="example-form" style="margin-left: 20px; ">
   
    
  <mat-form-field>
        <mat-label> Admin Name:</mat-label>
       <input matInput value={{name}} [(ngModel)]="name" name="name"> 
  </mat-form-field>
  <br>
  <mat-form-field>
      <mat-label>Contact Number:</mat-label>
      <input type="tel" maxLength="10" min="-999" max="9999999999"
      placeholder="123-4567-8901"
      required matInput
       value={{contact}} [(ngModel)]="contact" name="contact">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Admin ID:</mat-label>
    <input matInput value={{userid}} [(ngModel)]="userid" name="userid" >
  </mat-form-field>
   <br>
   <mat-form-field>
    <mat-label> User Name:</mat-label>
   <input matInput value={{username}}  name="username" >
  </mat-form-field>
    <br>
   <mat-form-field>
    <mat-label>Password:</mat-label>
    <input matInput value={{password}} [(ngModel)]="password"  name="password"  [type]="hide ?  'text':'password' ">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon> <img src="assets/icons/visibility.png" width="22px" height="22px"/>
       </mat-icon>
      </button>
  </mat-form-field>
   <br>
   <br>
   <div class="example-button-row" style="padding-left: 5%;padding-right: 10%;">
    <a mat-stroked-button color="primary" (click)="updateVlaues()">Update</a>
   </div>
</form>
<span class="nav-spacer"></span>

<div id="snackbar">Information Updated Successfully</div>


