<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon ></mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <hr>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
            <mat-icon ></mat-icon> {{ 'sidebar.parent.label' | translate }}
        </a>
        <hr>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/groups']">
            <mat-icon ></mat-icon> {{ 'Groups' | translate }}
        </a>
       <hr>
    </mat-nav-list>
</div>
