<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">
         <img style="color: aliceblue;"src="assets/icons/menu.png" width="25px" height="25px"/>
        </mat-icon>
    </button>
    <div class="nav-brand">
        School Name
    </div>
    <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
        <mat-form-field>
            <input matInput [placeholder]="'Search' | translate">
        </mat-form-field>
    </form>
    <span class="nav-spacer"></span>

    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
            <img src="assets/icons/language.png" width="25px" height="25px"/>
    </button>
    <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('en')">
            <span>{{ 'English' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('fr')">
            <span>{{ 'French' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('ur')">
            <span>{{ 'Urdu' | translate }}s</span>
        </button>
    </mat-menu>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
            <img src="assets/icons/account.png" width="25px" height="25px"/>  
    </button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
               <mat-icon>
                    <img src="assets/icons/inbox.png" width="21px" height="20px"/>  
                    <span style="margin-left:10px;">{{ 'Inbox' | translate }}</span>
               </mat-icon>
                
            </a>
        </button>
        <button mat-menu-item>
            <a mat-list-item [routerLinkActive]="'active'"  [routerLink]="['/profile']">
                <mat-icon>
                    <img src="assets/icons/account.png" width="21px" height="20px"/>  
                    <span style="margin-left:10px;">{{ 'Profile' | translate }}</span>
                </mat-icon>
            </a>
        </button>
        
    </mat-menu>
    <button mat-icon-button (click)="onLoggedout()">
                <img src="assets/icons/exit_to_app.png" width="25px" height="25px"/>    
    </button>
</mat-toolbar>
